// colors
$tonePurple: #0A2463;
$toneBlue: #247BA0;
$toneLight: #ffffff;
$toneRed: #FB3640;
$toneGray: #605F5E;
$toneGrayTrans: #00000029;
$toneBlackTrans: #000000AD;

// fuentes fam
$fuentePrincipal: 'Roboto', sans-serif;

// text sizes
$fontSize1: 36px;
$fontSize2: 30px;
$fontsize3: 26px;
$fontSize4: 20px;
$fontSize5: 18px;
$fontSize6: 16px;
$fontSize7: 14px;

// shadows 
$dropShadowCards: drop-shadow(0px 2px 5px #0000007e);